<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/favorites.css">
    <title>Favoris</title>
</head>
<body>
    <div class="container">
        <h1>Favoris</h1>
        <a href="/" class="back-btn">Retour à la recherche</a>
        {% if favorites %}
            <ul class="favorites-list">
            {% for file in favorites %}
                <li>
                    <p>{{ file }}</p>
                    <div class="actions">
                        <form action="/open" method="post" style="display:inline;">
                            <input type="hidden" name="file_path" value="{{ file }}">
                            <button type="submit" class="btn open-btn">Ouvrir</button>
                        </form>
                        <form action="/remove_favorite" method="post" style="display:inline;">
                            <input type="hidden" name="file_path" value="{{ file }}">
                            <button type="submit" class="btn remove-btn">Supprimer</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Aucun favori disponible.</p>
        {% endif %}

        
    </div>
</body>
</html>
